@model List<Student>

<h1>Hello It's Our Student List Page</h1>

<div class="container">

    <div class="row">
        <div class="col-6">
            <h2 class="diplay-3">Student List</h2>
        </div>
        <div class="col-6 align-content-center text-end">
            <a asp-controller="Student" asp-action="Create" class="w-50 btn btn-outline-primary form-control ">Create</a>
        </div>
    </div>
  
  
    @if(TempData["success"] != null){
    
        <partial name="_SuccessNotification" />
    }

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Surname</th>
                <th scope="col">Student Number</th>
                <th scope="col">Age</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var student in Model){
            <tr>
                <th scope="row">@student.Name</th>
                <th scope="row">@student.Surname</th>
                <th scope="row">@student.StudentNumber</th>
                <th scope="row">@student.Age</th>   
                <th>
                    <div>
                        <a asp-controller="Student" asp-route-id="@student.Id" asp-action="Edit" class="btn btn-primary">Edit </a>
                        <a asp-controller="Student" asp-route-id="@student.Id" asp-action="Delete" class="btn btn-danger">Delete </a>

                    </div>
                </th>
             </tr>
             }

        </tbody>
    </table>
</div>